{{> head }}

<div id="wrapper">
		<!-- header of the page -->
		<header id="header" class="sticky-header">
			<div class="max-container">
				<!-- main site logo -->
				<strong class="logo">
					<a href="#">
						<span class="img">
							<img src="/images/logo.svg" alt="Flylancer">
						</span>
					</a>
				</strong>
				<!-- align-right -->
				<div class="align-right">
					{{>navbar }}
				</div>
			</div>
		</header>
		<!-- contain main informative part of the site -->
		<main id="main">
			<!-- visual -->
			<div class="visual">
				<div class="max-container">
					<div class="slideshow" id="main-slider">
						{{#each data.sld }}
						<div class="slide">
							<div class="caption">  
								<div class="text">
									<span class="txt">{{ this.txt }}</span>
									<h1><span class="icon">#</span><span class="light">{{ this.light }}</span> <span class="add">{{ this.add }}</span> <span class="add2">{{ this.add2 }}</span></h1>
								</div>
							</div>
							<div class="image">
								<img src="{{ this.img }}" alt="image description">
							</div>
							<span class="box"></span>
							<ul class="social-networks">
								<li><a class="facebook" href="https://www.facebook.com/flylancercelaya/"><i class="fa fa-facebook"></i><span class="hidden">facebook</span></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-instagram"></i><span class="hidden">instagram</span></a></li>
							</ul>
						</div>
						{{/each }}
					</div>
				</div>
			</div>
			<div class="max-container">
				<!-- info holder -->
				<div class="info-holder">
					<!-- info -->
					<div class="info">
						<div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
							<div class="text">
								<span class="num">01</span>
								<h2 class="tild">{{ data.emp.[0].about.[0].tit }}</h2>
								<div class="box">
									<div class="box-inner">
										<h3>Flylancer</h3>
										<p>Slogan mamalon</p>
									</div>
								</div>
							</div>
							<div class="image wow fadeInRight" data-wow-delay="0.6s"><img src="{{ data.emp.[0].about.[0].img }}" alt="image description"></div>
						</div>
						<div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
							<h3>{{ data.emp.[0].about.[0].tit }}</h3>
							<p>{{ data.emp.[0].about.[0].cont }}</p>
						</div>
					</div>
					<div class="info work">
						
						<div class="img-frame">
							<div class="img-area" id="masonry-container">
								{{#each data.emp.0.work.0.proy }}
								<div class="item wow fadeInUp" data-wow-delay="0.6s">
									<img src="http://placehold.it/390x292" alt="image description">
									<div class="caption">
										<div class="c1">
											<div class="c2">
												<strong class="title">{{ this.tit }}</strong>
												<ul class="icons">
													<li><a href="/images/{{ this.img }}.jpg" class="lightbox"><i class="fa fa-resize-full-alt"></i> <span>resize</span></a></li>
													<li><a href="{{ this.href }}"><i class="fa fa-attach"></i> <span>attach</span></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{{/each }}
							</div>
						</div>
                        <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
							<h2 class="tild">{{ data.emp.[0].work.[0].tit }}</h2>
							<span class="num">02</span>
							<ul class="filter">
								<li class="active"><a href="#">Todos</a></li>
								<li><a href="#" data-filter=".web">Web</a></li>
								<li><a href="#" data-filter=".diseno">Diseño</a></li>
							</ul>
						</div>
					</div>
					<!-- service info -->
					<div class="info service-area">
                        <div class="img-frame wow fadeInRight" data-wow-delay="0.6s">
							<h2 class="tild" style="padding: .3em;">{{ data.emp.[0].servs.[0].tit }}</h2>
							<span class="num">03</span>
							{{!-- <a href="#" class="more">order services</a> --}}
						</div>
						<div class="txt-frame">
							<ul class="services" style="margin-left: 1em;">
								{{#each data.emp.0.servs.0.serv }}
								<li class="wow fadeInUp" data-wow-delay="0.6s">
									<h3>
										{{!-- <i class="icons-ico-01"></i> --}}
										<span> {{ this.tit }} </span>
									</h3>
									<p>{{ this.cont }}</p>
								</li>
								{{/each }}
								
							</ul>
						</div>
					</div>
					<!-- testimonial info -->
					<div class="info testimonial">
						<div class="img-frame wow fadeInUp" data-wow-delay="0.6s">
							<div class="slider">
								<div class="mask">
									<div class="slide">
										<blockquote>
											<q>“I am so happy because I found this Eagleeyes, and it just made my life easier. Thanks so much for sharing”</q>
											<cite>
												<span class="heading4">Kawhi Leonard</span>
												<span class="designation">Creative Director</span>
											</cite>
										</blockquote>
										<div class="/images">
											<img src="http://placehold.it/470x617" alt="image description">
										</div>
									</div>
									<div class="slide">
										<blockquote>
											<q>“I am so happy because I found this Eagleeyes, and it just made my life easier. Thanks so much for sharing”</q>
											<cite>
												<span class="heading4">Umair Rafi</span>
												<span class="designation">Creative Developer</span>
											</cite>
										</blockquote>
										<div class="/images">
											<img src="http://placehold.it/470x617" alt="image description">
										</div>
									</div>
									<div class="slide">
										<blockquote>
											<q>“I am so happy because I found this Eagleeyes, and it just made my life easier. Thanks so much for sharing”</q>
											<cite>
												<span class="heading4">Leo Alpha</span>
												<span class="designation">Ui/UX Director</span>
											</cite>
										</blockquote>
										<div class="/images">
											<img src="http://placehold.it/470x617" alt="image description">
										</div>
									</div>
								</div>
								<div class="pagination">
									<ul class="mask-inner">
										<li>
											<a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
										</li>
										<li>
											<a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
										</li>
										<li class="active">
											<a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
							<h2 class="tild">{{ data.emp.[0].test.[0].tit }}</h2>
							<span class="num">04</span>
							{{!-- <a href="#" class="more">view all</a> --}}
						</div>
					</div>
					<!-- price info -->
					<div class="info price">
                        <div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
							<h2 class="tild">{{ data.emp.[0].price.[0].tit }}</h2>
							<span class="num">05</span>
							{{!-- <a href="#" class="more">view all</a> --}}
						</div>
						<div class="txt-frame">
							<ul class="pricing">
								{{#each data.emp.[0].price.[0].paq }}
								<li class="wow fadeInUp" data-wow-delay="0.4s">
									<div class="icon">
										<div class="ico-text">
											<div class="ico-box">
												<span class="price"><sup>$</sup>{{ this.price }}</span>
												<span class="month">/{{ this.time }}</span>
											</div>
										</div>
									</div>
									<strong class="package">{{ this.nom }}</strong>
									<ul class="list">
										{{#each this.list }}
										<li>{{ this.line }}</li>
										{{/each }}
									</ul>
									<a href="javascript:void(0)" opc="{{ this.id }}" class="plan">SOLICITAR</a>
								</li>
								{{/each }}
								
								
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</main>
		<!-- footer of the page -->
		{{>footer }}
		<span id="back-top" class="fa fa-arrow-up"></span>
	</div>

{{>scripts }}

</body>

</html>